body {
     background-color: Teal;
}

h1 {
  color: LightCoral;
}

.container {
     background: url('https://f.cloud.github.com/assets/5033756/996232/e7d7b2d8-09cb-11e3-8581-41af2b5b6443.jpg');
}

h2 {
     color: LightCoral;
}
