body {
     background-color: Teal;
}

h1 {
  color: LightCoral;
}

.container {
     background: url('https://f.cloud.github.com/assets/5033756/996060/fcf57590-09c8-11e3-84ce-2b8e50624f7b.jpg');
}

h2 {
     color: LightCoral;
}
